.contacts-section {
  padding: 4rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.title-line {
  width: 50px;
  height: 3px;
  background-color: #398564;
  margin: 0 auto;
}

.contacts-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.contact-form {
  width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  border: 3px solid #398564;
  border-radius: 8px;
  padding: 2rem;
}

.form-group {
  font-size: 1.25rem;
  position: relative;
  color: #398564;
}

.input {
  all: unset;
  color: black;
  padding: 0.5rem;
  border: 1px solid #398564;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-size: 1rem;
  background-color: whitesmoke;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: translateY(-30%);
  color: #398564;
  pointer-events: none;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
}

.input:focus {
  border: 2px solid #398564;
  color: black;
  text-align: left;
  padding: 8px;
  font-size: 1rem;
}

.input:is(:focus, :valid) ~ label {
  transform: translateY(-175%) scale(0.8);
  padding-inline: 0.3rem;
  color: #398564;
}

textarea {
  word-wrap: break-word;
  resize: vertical;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #398564;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #2d6e4e;
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 400px;
  }
}
