.f-container {
  background-color: #fce198;
  border-radius: 30px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 500px;
  max-width: 70%;
  min-height: 480px;
}

.f-container h1 {
  text-transform: capitalize;
}

.f-container a {
  color: #333;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 15px 0 10px;
}

.f-container button {
  background-color: #398564;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.f-container button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #398564;
  border: 1px solid #398564;
}

.message {
  color: #398564;
  font-size: 14px;
  margin-top: 5px;
}
